
@{
    ViewData["Title"] = "RegisterConfirmation";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>RegisterConfirmation</h1>

<p>
        Please check your email to confirm your account.
</p>