@model Final_Project.Models.Hall
@{
    ViewData["Title"] = "UpdateHall";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1 class="offset-1">Update Hall</h1>

<div class="row offset-1">
    <div class="col-md-4">
        <form asp-action="UpdateHall" asp-route-id="@Model.id" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group mb-3">
                <input asp-for="Name" class="form-control" placeholder="Name" />
        @*        <span asp-validation-for="Name" class="text-danger"></span>*@
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-place-of-worship"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <input asp-for="Location" class="form-control" placeholder="Location" />
            @*    <span asp-validation-for="Location" class="text-danger"></span>*@
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas  fa-location-arrow"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input asp-for="Price" class="form-control" placeholder="Price" />
            @*    <span asp-validation-for="Price" class="text-danger"></span>*@
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-dollar-sign"></span>
                    </div>
                </div>
            </div>
           
              <div class="form-group">
              @*  <label asp-for="Manager" class="control-label"></label>*@
               @Html.DropDownList("Mangerid",null,"Manger Name",new {@class="form-control"})
            </div>
            
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




