
@{
    ViewData["Title"] = "ConfirmEmail";

}
<div class="container">
    <main role="main" class="pb-3">
        <br />
        <br />
        <br />


<h1>ConfirmEmail</h1>

<p>
    Thank you for confirming your email.
</p>
    </main>
</div>