
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}
<div class="container">
    <main role="main" class="pb-3">
          <br />
        <br />
        <br />
        <br />

<h1>ResetPasswordConfirmation</h1>


<h4>
    Your password is reset. Please click <a asp-area="Identity" asp-page="/Account/Login">here to login</a>
</h4>

    </main>
</div>