@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="container">
    <main role="main" class="pb-3">
          <br />
        <br />
        <br />
        <br />
<h1>@ViewData["Title"]</h1>
    </main>
</div>