@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container">
    <main role="main" class="pb-3">
          <br />
        <br />
        <br />
        <br />
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

<br />
@if(ViewData["link"] != null)
{
    <div>
@ViewData["link"]
    </div>
}

    </main>
</div>
