@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<div class="container">
    <main role="main" class="pb-3">
          <br />
        <br />
        <br />
        <br />
<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>

    </main>
</div>